//フォームのページ

//クラス指定できないため
.wpcf7 {
    @media(min-width: 768px) {
        width: 75%;
        margin: 0 auto;
    }
}


.wpcf7 p {
    text-align: justify;
    padding-bottom: 30px;
    @media(min-width: 768px) {
        margin: 0 auto;
    }
}



.bulk {

    &__container-form-heading {
        padding-bottom: 30px;
    }

    &__container-form-text {
        padding-bottom: 30px;
    }
    

    &__form-btn {
        width: 70%;
        margin: 0 auto;
        display: block;
        border-radius: 20px;
        background-color: #fcd900;
    }
}
