.page {

    &__main-menu {
        position: relative;
    }

    &__nav {
        position: fixed;
        width: 100%;
        z-index: 9999;
        top: 0;
        display: flex;
        align-items: center;
    }

    &__nav-container {
        margin: 0;
        padding-left: 2rem;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    &__site-text {
        display: none;
    }

    &__menu-container {
        @media(max-width: 767px) {
            width: 70%;
            position: absolute;
            left: 0;
            height: 100vh;
            transform: translate3d(-100%, 0, 0);
            overflow-y: auto;
            overflow-x: auto;
            background-color: #fff;
            top: 100%;
            background-color: $yellow;
        }
    }

    .openNav &__menu-container {
        @media(max-width: 767px) {
            transform: translate3d(0, 0, 0);
            transition: transform .5s ease;
        }
    } //メニュー
    &__menu-lists {
        @media(min-width: 768px) {
            display: flex;
            margin: 0;
        }
    }
    
    &__menu-lists {
        padding: 0;
    }

    &__menu-lists li {
        list-style: none;
        @media(max-width: 767px) {
            padding: 10px 0 10px 20px;
        }
        @media(min-width: 768px) {
            padding-right: 30px;
            font-size: 16px;
        }
    }
    // 現在のリンクとホバーした時の色を指定
    &__menu-lists li a:hover,
    &__menu-lists li.active a{
        @media(min-width: 768px) {
            color: $blue;
        }
    }
    //liがホバーされた時の下に出る線の指定
    &__menu-lists li a::after {
        @media(min-width: 768px) {
        content: '';
        //絶対配置で線の位置を決める
        position: absolute;
        bottom: -2px;
        left: 0;
        //線の形状
        width: 100%;
        height: 2px;
        background: $yellow;
        //アニメーションの指定
        transition: all .3s;
        transform: scale(0.1);
        transform-origin: center top;
        }
    }
    
    //現在地とhoverの設定
    &__menu-lists li.active a::after,
    &__menu-lists li a:hover:after {
        @media(min-width: 768px) {
            transform: scale(1,1);
        }
    }
    
    &__menu-lists li a {
        @media(min-width: 768px) {
            //ホバーした時の線の基準にする
            position: relative;
        }
    }
    
    
    &__menu-lists  .active {
        @media(max-width: 767px) {
        background-color: $gray;
        }
    }
    
    
    

    &__area-header {
        display: none;
    }

    &__bulk-container {
        background-color: #fff;
        width: 90%;
        margin: 120px auto 0;
        padding: 20px 20px 0;
        text-align: center;
    }

    &__area__container-heading {
        font-size: 40px;
        padding-top: 50px;
        display: inline-block;
        border-bottom: 3px dotted $blue;
    }
    
    &__area__container__block {
        padding-top: 30px;
    }

&__area__container__plofile-block figure {
    @media(max-width: 767px) {
        padding-bottom: 20px;
    }
}

&__area__container__plofile-block {
    text-align: justify;
}



&__area__container__skil-block-img figcaption {
    text-align: center;
}

&__area__container__skil-block-img img {
    width: 100%;
}

&__area__container__works-block-img figcaption {
    text-align: center;
}

&__area__container__works-block-btn a:hover {
    @media(min-width: 768px) {
        transform: scale(1.1);
    }
}

&__area__container__works-block-btn a {
    transition: all .5s;
    border: 1px solid #000;
}

&__footer {
    border-top: 1px solid #ccc;
    padding: 15px;
    clear: both;
    margin-top: 20px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    width: 100vw;
    margin: 0;
}

&__footer-container {
    text-align: center;
}

}
