a, a:hover, a:active, a:focus {
  text-decoration: none;
}

body {
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  padding-bottom: 150px;
}

.fadeUp {
  animation: fadeUpAnime 2s forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.page__main-menu {
  position: relative;
}
.page__nav {
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
  display: flex;
  align-items: center;
}
.page__nav-container {
  margin: 0;
  padding-left: 2rem;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.page__site-text {
  display: none;
}
@media (max-width: 767px) {
  .page__menu-container {
    width: 70%;
    position: absolute;
    left: 0;
    height: 100vh;
    transform: translate3d(-100%, 0, 0);
    overflow-y: auto;
    overflow-x: auto;
    background-color: #fff;
    top: 100%;
    background-color: #fcb900;
  }
}
@media (max-width: 767px) {
  .openNav .page__menu-container {
    transform: translate3d(0, 0, 0);
    transition: transform 0.5s ease;
  }
}
@media (min-width: 768px) {
  .page__menu-lists {
    display: flex;
    margin: 0;
  }
}
.page__menu-lists {
  padding: 0;
}
.page__menu-lists li {
  list-style: none;
}
@media (max-width: 767px) {
  .page__menu-lists li {
    padding: 10px 0 10px 20px;
  }
}
@media (min-width: 768px) {
  .page__menu-lists li {
    padding-right: 30px;
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .page__menu-lists li a:hover, .page__menu-lists li.active a {
    color: #add9e0;
  }
}
@media (min-width: 768px) {
  .page__menu-lists li a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fcb900;
    transition: all 0.3s;
    transform: scale(0.1);
    transform-origin: center top;
  }
}
@media (min-width: 768px) {
  .page__menu-lists li.active a::after, .page__menu-lists li a:hover:after {
    transform: scale(1, 1);
  }
}
@media (min-width: 768px) {
  .page__menu-lists li a {
    position: relative;
  }
}
@media (max-width: 767px) {
  .page__menu-lists .active {
    background-color: #EEEEEE;
  }
}
.page__area-header {
  display: none;
}

.bulk {
  background-color: #fff;
  width: 90%;
  margin: 120px auto 0;
  padding: 20px 20px 0;
  text-align: center;
}
.bulk__container-heading {
  font-size: 40px;
  padding-top: 50px;
  display: inline-block;
  border-bottom: 3px dotted #add9e0;
}
.bulk__container__block {
  padding-top: 30px;
}
@media (max-width: 767px) {
  .bulk__container__plofile-block figure {
    padding-bottom: 20px;
  }
}
.bulk__container__plofile-block {
  text-align: justify;
}
.bulk__container__skil-block-img figcaption {
  text-align: center;
}
.bulk__container__skil-block-img img {
  width: 100%;
}
.bulk__container__works-block-img figcaption {
  text-align: center;
}
@media (min-width: 768px) {
  .bulk__container__works-block-btn a:hover {
    transform: scale(1.1);
  }
}
.bulk__container__works-block-btn a {
  transition: all 0.5s;
  border: 1px solid #000;
}

.footer {
  border-top: 1px solid #ccc;
  padding: 15px;
  clear: both;
  margin-top: 20px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  width: 100vw;
  margin: 0;
}
.footer__container {
  text-align: center;
}

.page__area__blog-img {
  width: 100%;
  float: left;
  text-align: center;
  border: 0;
}
.page__area__blog-img img {
  border: 0;
  webkit-box-shadow: 0 10px 28px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 10px 28px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 28px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.page__area__blog-content {
  float: left;
  width: 100%;
  padding-top: 20px;
  text-align: center;
}
.page__area__blog-heading {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
  font-size: 36px;
}
.page__area__blog-heading a {
  color: #000;
}
.page__area__blog-meta {
  color: #000;
}
.page__area__blog-text {
  margin-top: 25px;
  margin-bottom: 15px;
}
.page__area__blog-more-btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  border: 1px solid #8e8e8e;
}
.page__area-top {
  position: relative;
  min-height: 450px;
  background-color: #3c3c3c;
  text-align: center;
  top: 70px;
}
.page__area-top-img {
  max-height: 450px;
  overflow: hidden;
  position: relative;
  height: 450px;
  opacity: 0.6;
}
.page__area-top-img img {
  position: absolute;
  height: auto;
  left: 50%;
  max-width: 1000%;
  min-height: 100%;
  width: auto;
  top: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.page__area__header-title {
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center;
  padding: 15px;
  color: #000;
  left: 50%;
  -webkit-transform: translate(-50%, -55%);
  -moz-transform: translate(-50%, -55%);
  -ms-transform: translate(-50%, -55%);
  -o-transform: translate(-50%, -55%);
  transform: translate(-50%, -55%);
}
.page__area__header-text {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}
.page__area__header-meta {
  color: #fff;
}
.page__area__header-meta a {
  color: #fff;
}

@media (min-width: 768px) {
  .wpcf7 {
    width: 75%;
    margin: 0 auto;
  }
}

.wpcf7 p {
  text-align: justify;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .wpcf7 p {
    margin: 0 auto;
  }
}

.bulk__container-form-heading {
  padding-bottom: 30px;
}
.bulk__container-form-text {
  padding-bottom: 30px;
}
.bulk__form-btn {
  width: 70%;
  margin: 0 auto;
  display: block;
  border-radius: 20px;
  background-color: #fcd900;
}

.page__archive-header {
  background-color: #EEEEEE;
  color: #000;
  padding: 100px 20px 120px;
  position: relative;
  top: 70px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
